*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: block;
    overflow: hidden;
    background-color: #fecd04;
}
.bg{
    width: 100%;
}
.bg img{
    width: 100%;
}
.bg__mobile{
    display: none;
}

a{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    width: 6rem;
    padding: 2vw;
    font-size: 1.5rem;
    border: none;
    background: #e61d2c;
    color: rgb(251, 200, 200);
    cursor: pointer;
    position: fixed;
    right: 20vw;
    top: 40vw;
    box-shadow: 3px 3px 3px gray;
    font-weight: 700;
}

a:hover{
    background: rgb(251, 200, 200);
    color: #e61d2c;
    box-shadow: 3px 3px 3px  #e61d2c;
}
@media (max-width: 86rem){
    body{
        overflow-y: auto;
    }
    .bg{
        display: none;
    }
    .bg__mobile{
        display: block;
        width: 100%;
    }
    .bg__mobile img{
        width: 100%;
    }
    a{
        width: 100vw;
        height: 20px;
        top: auto;
        left: 0;
        bottom: 0;
        padding: 1rem 0;
        font-size: 1.2rem;
        border-radius: 0;
        box-shadow: 3px 3px 3px gray;
    }
}



